@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #1e88e5;
  --brand-dark: #132638;
  --brand-light: #e6f2ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --body-text-color: #364153;
  }
}

body {
  background: var(--background);
  color: var(--body-text-color);
  font-family: Roboto, sans-serif;
}

.text-brand-blue {
  color: var(--brand-blue);
}

.text-brand-dark {
  color: var(--brand-dark);
}
.text-brand-light {
  color: var(--brand-light);
}
.background-brand-blue {
  background-color: var(--brand-blue);
}
.background-brand-dark {
  background-color: var(--brand-dark);
}
.background-brand-light {
  background-color: var(--brand-light);
}

.text-foreground {
  color: var(--foreground);
}